---
import { type ModuleReplacement } from 'module-replacements';
interface Props {
	replacement: ModuleReplacement;
}

const { replacement } = Astro.props;

let title = replacement.moduleName;
let npmUrl = 'https://www.npmjs.com/package/' + replacement.moduleName;
let description = '';
let mdnUrl = '';
let docPath = '';

switch (replacement.type) {
case 'native':
	description = replacement.replacement;
	mdnUrl = 'https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/' + replacement.mdnPath;
	break;
case 'simple':
	description = replacement.replacement;
	break;
case 'documented':
	docPath = replacement.docPath;
}
---

<li class="replacement-card">
	<h3><a href={npmUrl}>{title}</a></h3>
	{description ? <p>{description}</p> : null}
	{mdnUrl ? <small>(<a href={mdnUrl}>MDN</a>)</small> : null}
	{docPath ? <button class="show-btn" data-docpath={docPath} type="button">Show</button> : null}
</li>

<style>
.replacement-card {
	list-style-type: none;
	border: 1px solid var(--text-muted);
	border-radius: 10px;
	padding: 10px;
	background: rgba(0 0 0 / 10%);
}

.replacement-card h3 {
	margin: 0;
}

.replacement-card h3 a {
	color: inherit;
}

.replacement-card h3 a:hover {
	text-decoration: underline;
}

</style>

<script>
	document.querySelectorAll('.show-btn').forEach(btn => {
		btn.addEventListener('click', () => {
			let docPath = btn.getAttribute('data-docpath');
			let docUrl = `https://raw.githubusercontent.com/es-tooling/module-replacements/main/docs/modules/${docPath}.md`;

			fetch(docUrl)
				.then(response => response.text())
				.then(text => {
					let textEl = document.createElement('div');
					textEl.innerHTML = text;
					btn.parentNode.replaceChild(textEl, btn);
				});
		});
	});
</script>